#ajd {
  fill-opacity: 0;
  transition: fill-opacity 1s;
}
.finished {
  fill-opacity: 1 !important;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
