.about-page,
.contact-page {
  .text-zone {
    top: 15%;
    width: 100%;
    text-align: center;
    position: absolute;
  }
  h1 {
    color: rgb(218, 216, 115);
    margin: 0;
    font-family: "Coolvetica";
    font-weight: 300;

    &::before {
      content: "<h1>";
      font-family: "La Belle Aurore";
      color: rgb(218, 216, 115);
      font-size: 50%;
      position: absolute;
      opacity: 0.5;
      left: 30%;
    }

    &::after {
      content: "</h1>";
      font-family: "La Belle Aurore";
      color: rgb(218, 216, 115);
      font-size: 50%;
      position: absolute;
      opacity: 0.5;
      right: 30%;
    }
  }
  h2 {
    padding-bottom: 2%;
    margin: 5%;
  }
}

.image-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 75px;
}
.pic {
  width: 80px;
  height: 80px;
  border: 2px solid rgb(218, 216, 115);
  border-radius: 40px;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .container.about-page .text-zone {
    h2 {
      padding: 0 5px;
      color: #8e8e8e;
      margin: 20px;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1s 1s backwards;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .container.about-page .text-zone {
    h2 {
      font-size: 125%;
    }
  }
}
