.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: #000;
  z-index: -1;
}
.contact-page {
  h1 {
    &::before {
      left: 5%;
    }
  }
}
form {
  width: 100%;
  animation: fadeIn 1s 1s backwards;

  input {
    width: 50%;
    height: 25px;
    background-color: transparent;
    color: rgb(218, 216, 115);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: sans-serif;
    padding: 5px 5px;
    margin: 1%;
    border: 1px solid rgb(218, 216, 115);
  }
}
.form-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  textarea {
    margin: 1%;
    width: 100%;
    height: 100px;
    background-color: transparent;
    color: rgb(218, 216, 115);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: sans-serif;
    padding: 5px 5px;
    border: 1px solid rgb(218, 216, 115);
  }

  .name-email {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.flat-button {
  background-color: transparent;
  width: 88.4%;
  margin: 1%;
  border: 1px solid rgb(218, 216, 115);

  &:hover {
    background: rgb(218, 216, 115);
    color: rgb(34, 34, 34);
  }
}
@media only screen and (min-width: 1000px) {
  form {
    width: 75%;
  }
}
