.contact-form {
  width: 100%;
  margin-top: 50px;
  display: block;

  ul {
    padding: 0;
    margin: 0;
    position: relative;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
    }

    li.half {
      width: 98%;
      margin-left: 2%;
      float: left;
      clear: both;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.test {
  display: flex;
}

input[type='text'],
input[type='email'] {
  width: 100%;
  border: 0;
  background: #efeeb4;
  height: 50px;
  font-size: 16px;
  color: #000;
  padding: 0 20px;
  box-sizing: border-box;
}

textarea {
  width: 98%;
  margin-left: 2%;
  border: 0;
  background: #efeeb4;
  font-size: 16px;
  color: #000;
  padding: 20px;
  box-sizing: border-box;
  animation: fadeInUp 2s 2s;
  animation-fill-mode: forwards;
}

.flat-button {
  color: #ffd700;
  font-size: 11px;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 8px 10px;
  border: 1px solid #ffd700;
  float: left;
  border-radius: 4px;
  background: 0 0;
  text-transform: uppercase;
  float: right;
  text-align: center;
  margin-right: 10px;
}

.info-map {
  position: absolute;
  background-color: #000;
  top: 50px;
  right: 30%;
  z-index: 999999;
  width: 267px;
  padding: 20px;
  color: #fff;
  font-family: 'Helvetica';
  font-size: 17px;
  font-weight: 300;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;

  span {
    font-size: 16px;
  }
}

.map-wrap {
  background: rgba($color: #454d66, $alpha: 0.6);
  float: right;
  width: 50%;
  height: 115%;
  margin-top: -3%;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;
}
