.nav-bar {
  background: rgb(22, 22, 22);
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;
}

.logo {
  display: block;
  padding: 5px;

  img {
    display: block;
    margin: 8px auto;
    width: 24px;
    height: auto;

    &.sig-logo {
      width: 50px;
    }
  }
}

.nav-bar {
  .menu {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  .nav-bar {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    min-height: 0;
    border-bottom: 1px solid #000;
  }
  .logo img {
    height: 30px;
    display: block;
    margin: 10px 10px;
    width: auto;
  }
  img.sig-logo {
    display: none;
  }

  ul {
    display: none;

    li {
      a {
        position: relative;
        margin: 10px;
        top: 15px;
        right: 10px;
        z-index: 999;
      }
    }
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 15px;
    display: flex !important;
    font-size: 30px;
    z-index: 9999999;
  }
}
