html {
  font-size: 62.5%;
}

body {
  background: rgb(69, 77, 102);
  color: rgb(218, 216, 115);
  display: block;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
