html {
  font-size: 14px;
}

body {
  background: black;
  /* background: rgb(69, 77, 102); */
  color: rgb(218, 216, 115);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
