nav {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    font-family: "Coolvetica", sans-serif;
    font-size: 125%;
    position: relative;
    text-decoration: none;
    padding: 34%;

    i {
      transition: all 0.3s ease-out;
    }

    &:hover {
      color: rgb(218, 216, 115);

      svg {
        opacity: 0;
      }

      &:after {
        opacity: 1;
      }
    }

    &:after {
      content: "";
      font-size: 50%;
      letter-spacing: 3px;
      position: absolute;
      bottom: -10px;
      left: 0;
      display: block;
      width: 100%;
      text-align: center;
      opacity: 0;
      transition: all 0.5s ease-out;
    }

    &:first-child {
      &::after {
        content: "HOME";
      }
    }
  }

  a.about-link {
    &:after {
      content: "ABOUT";
    }
  }

  a.contact-link {
    &:after {
      content: "CONTACT";
    }
  }

  a.active {
    svg {
      color: rgb(218, 216, 115);
    }
  }
}

@media only screen and (min-width: 750px) {
  nav {
    a {
      padding: 50% 100%;
    }
  }
}

@media only screen and (min-width: 1000px) {
  nav {
    a {
      padding: 50% 125%;
    }
  }
}
